<!DOCTYPE html>
<html>
<head>
	<title>Test for express-form-post</title>
</head>
<body>
	<form method="POST" enctype="multipart/form-data">
		<input type="file" name="file" />
		<button type="submit">Submit</button>
	</form>
</body>
</html>